<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Anima Animus</title>
</head>
<body>
    <header class="header_home">
      <!--header con dos columnas-->
      <div class="header_div">
        <img src="../img/logo.jpg "alt="Logo de Anima Animus" class="logo_imagen" width="200" height="150" >
        <h1 class="logo_nombre">Anima Animus</h1>
      </div>
        
      <div class="header_div">
        <nav class="header_nav">
          <a href="index.html" class="nav_a">Inicio</a>
          <a href="empresa.html" class="nav_a">Empresa</a>
          <a href="producto.html" class="nav_a">Producto</a>
          <a href="registro.html" class="nav_a">Registro</a>
          <a href="micuenta.html" class="nav_a">Mi cuenta</a>
          <a href="contacto.html" class="nav_a">Contacto</a>

      </nav>
      </div>
      
    </header>
    <div >
      <img src="../img/img_seccion.jpg "class="Img_slide" alt="Imagen seccion principal">
    </div>


    <div class="seccion_una_columna">
      <h1>Tienda Espiritual</h1>
      Un cambio de trabajo, la finalización de los estudios o el comienzo de un matrimonio son algunas de las situaciones por las que una persona le gustaría saber qué podría suceder después de ese acontecimiento. En este artículo te vamos a explicar el funcionamiento del tarot, y cómo hacen las tarotistas para interpretar las tiradas de cartas conforme a la información que proporcionan los consultantes.
    </div>

    <div class="container seccion-varias-columnas">
      <div class="row align-items-center">
  
          <div class="col">
            <h3 style="text-align: center;">Armonizaciones</h3><br>
            Día a día sin darte cuenta tu campo energético es influenciado por las energía de tus pensamientos, emociones, acciones, por la vibración de otras personas y espacios. 
          </div>
          <div class="col">
            <h3 style="text-align: center;">Terapia Floral</h3><br>

            Conocida como terapia floral, esta permite abrir la comprensión de que,  como seres humanos, somos responsables del manejo de nuestra salud y de aceptar los desafíos.
          </div>
          <div class="col">
            <h3 style="text-align: center;">Spray Aurico</h3><br>

            ideal para usarlo en todos lados, especialmente en lugares donde no puedas quemar la madera, como por ejemplo una oficina, un shopping, un local comercial, etc.          
          </div>
        </div>
      </div>



    <div class="container seccion-varias-columnas">
    <div class="row align-items-center">
      <h2>Productos Energeticos y Servicios</h2>

        <div class="col">
          <img src="../img/agua florida.jpg" alt="agua florida" title="Agua florida" style="width: 100%;">
          Armonizaciones<br>
           </div>
        <div class="col">
          <img src="../img/jabones.jpg"alt="jabones" title="Jabones" style="width: 100%;">
          <br>
          Terapia Floral
        </div>
        <div class="col">
          <img src="../img/spray aurico.jpg" alt="spray" title="Spray aurico" style="width: 100%;">
          Spray auricos<br>
        
        </div>
      </div>
    </div>

      <h3><em>Seguinos en nuestras redes sociales <a href="https://instagram.com/animaanimusok" target="_blank"> @animaanimusok</a></em></h3> 

      <br>
      <br>
      <mark>Registrate para recibir información</mark>
      <br>
      <br>
      <form>
      <label>Nombre completo</label>
      <input type="text" placeholder=Nombre>
      <label>Mail</label>
      <input type="text"placeholder=Mail>   
      <label>Fecha de nacimiento</label>
      <input type="number"placeholder= Nacimiento>
      <label>Consulta</label>
      <input type="Consulta"placeholder=Consulta>
      <input type="button" value="Enviar">
    </form>
</body>
</html>