<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anima Animus</title>
</head>
<body>
    <header>
        <nav>
            <a href="empresa.html">Empresa</a>
            <a href="producto.html">Producto</a>
            <a href="registro.html">Registro</a>
            <a href="micuenta.html">Mi cuenta</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
</body>
</html>